html {
	box-sizing: border-box;
}
/* При переопределении значений свойств - они будут наследоваться */
*,
*::before,
*,::after {
	box-sizing: inherit;
}

.container {
	width: 1110px;
	margin: 0 auto;
	background-color: #e0f761; 
}

body {
	font-family: 'Open Sans', 'Arial', sans-serif;
	color: #626262;
	font-size: 14px;
	line-height: 26px;
	font-weight: 400;
	background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQ_f8tg7bo1q38eGNz4gWRvFcsBw5yKBwKTQ&usqp=CAU);
	/* linear-gradient(rgba(11, 164, 252, 0.3)); */
	/* background-repeat: repeat;
	block-size: cover; */
}

img {
	display: block;
	min-width: 100%;
	height: auto;
} 

.clearfix::after {
	display: table;
	content: "";
	clear: both;
}

.page-header { 
	margin-bottom: 62px;
	border: 2px solid #48690a;
	box-shadow: 0 14px 4px rgba(12, 87, 2, 0.918);	
} 

.main-menu {
	padding: 38px 0;
}

.site-logo {
	display: inline-block;
	padding-left: 10px;
}

/* SITE NAVIGATION */
.site-navigation {
	float: right;
	width: 485px;
	margin: 3px 0 0;
	padding: 0;
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-weight: 700;
	font-size: 14px;
	line-height: 11px;
	list-style: none;
}

.site-navigation li {
	float: left;
}
 
.site-navigation li:not(:last-child) {
	margin-right: 33px;
} 

.site-navigation a {
	color: #0f0101;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 11px;
}

.site-navigation a:hover, 
.site-navigation a:focus{
	color: #1abc9c;
}


/* TEAM LIST */
.team-container {
	max-width: 480px;
	background-color: #e0f761;
	margin: auto;
	padding: 0;
}

.team-list {
	border: 2px solid #212121;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);	
	padding: 5px;
	list-style: none;
}

.team-list li {
	padding: 4px 0;
	font-size: 18px;
	text-align: center;
	text-transform: uppercase;
}

.team-list a {
	text-decoration: none;
	color: #0E1116;
}

.team-list li:not(:last-child) {
	margin-bottom: 10px;
}

.team-list li:nth-child(-n + 3) {
	background-color: #88292F;
}

.team-list li:nth-child(n + 4) {
	background-color: #5DB7DE;
}

.team-list li:nth-child(n + 7) {
	background-color: #0D5D56;
}

/* 
* Последовательно раскомментируйте CSS-правила и посмотрите результат */

/* Выберет первый элемент в коллекции соседей */
/* .list li:first-child {
  background-color: #03a9f4;
} */

/* Выберет все элементы в коллекции соседей кроме первого*/
/* .list li:not(:first-child) {
  background-color: #03a9f4;
} */

/* Выберет последний элемент в коллекции соседей */
/* .list li:last-child {
  background-color: #03a9f4;
} */

/* Выберет все элементы в коллекции соседей кроме последнего*/
/* .list li:not(:last-child) {
  background-color: #03a9f4;
} */

/* Выберет все не четные элементы коллекции */
/* .list li:nth-child(odd) {
  background-color: #03a9f4;
} */

/* Выберет все четные элементы коллекции */
/* .list li:nth-child(even) {
  background-color: #03a9f4;
} */

/* Выберет все элементы коллекции начиная с третьего*/
/* .list li:nth-child(n + 3) {
  background-color: #03a9f4;
} */

/* Выберет первые 3 элемента коллекции*/
/* .list li:nth-child(-n + 3) {
  background-color: #03a9f4;
} */

/* COLORS */
.colors-container {
	max-width: 380px;
	background-color: #e0f761;
	margin: auto;
	padding: 0;
}

.color-list {
	border: 3px solid #270369;
	box-shadow: 0 18px 34px rgba(61, 3, 100, 0.25), 0 14px 4px rgba(53, 2, 87, 0.22);	
	padding: 5px;
	list-style: none;
}

.color-list li {
	padding: 2px 0;
	font-size: 16px;
	text-align: center;
	text-transform: uppercase;
}

.color-list a {
	padding: 0;
	margin: 0;
	text-decoration: none;
	color: #0E1116;
}

.color-list a::before {
	content: "\2192";
}

.aliceblue:hover {
	color: #F0F8FF;
}

.aqua:hover {
	color: #00FFFF;
}

.blue:hover {
	color: #0000FF;
}

.azure:hover {
	color: #F0FFFF;
}

.aquamarine:hover {
	color: #7FFFD4;
}

.chartreuse:hover {
	color: #7FFF00;
}

.lavenderblush:hover {
	color: #FFF0F5;
}

.lightpink:hover {
	color: #FFB6C1;
}

.hotpink:hover {
	color: #FF69B4;
}

/* NUMBER */
.number-container {
	box-sizing: border-box;
	max-width: 380px;
	background-color: #e0f761;
	margin: auto;
	padding: 0;
}

.number-list {
	counter-reset: count-number;
	border: 3px solid #270369;
	box-shadow: 0 18px 34px rgba(61, 3, 100, 0.25), 0 14px 4px rgba(53, 2, 87, 0.22);	
	padding: 5px;
	list-style: none;
}

.number-list li {
	counter-increment: count-number;
	padding: 2px 0;
	font-size: 16px;
	text-align: center;
	text-transform: uppercase;
}

p:before {
	content : counter(count-number, upper-roman);
	margin-right: 4px;
	padding: 2px;
	color: #f82d09;
	border: 1px solid #0E1116;
	box-shadow: 0 2px 4px rgb(98, 98, 98);
	text-align: center;
}



































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































