html {
	box-sizing: border-box;
}
/* При переопределении значений свойств - они будут наследоваться */
*,
*::before,
*,::after {
	box-sizing: inherit;
}

.container {
	width: 100%;
	margin: 0 auto;
}

body {
	font-family: 'Open Sans', 'Arial', sans-serif;
	color: #626262;
	font-size: 14px;
	line-height: 26px;
	font-weight: 400;
}

img {
	display: block;
	min-width: 100%;
	height: auto;
} 

.clearfix::after {
	display: table;
	content: "";
	clear: both;
}

/* Задание 1 */
.background {
	display: flex;
	position: relative;
	width: 100%;
	height: 2000px;
	background: linear-gradient(rgba(12, 240, 209, 0.3), rgba(12, 240, 209, 0.3)),
	url('https://png.pngtree.com/thumb_back/fw800/background/20190703/pngtree-vector-white-background-with-abstract-geometric-pattern-of-3d-tr-image_282961.jpg'); 
}

/* Задание 2 */
.box {
	position: absolute;
	top: 100px;
	left: 760px;
	width: 400px;
	height: 400px;
	background-color: #424242;
	box-shadow: 0 0 50px rgba(221, 24, 178, 0.85);
}

.box-sizes {
	position: absolute;
	width: 100px;
	height: 100px;
}

.box-1 {
	background-color: #228B22;
	top: 0;
	left: 0;
}

.box-2 {
	background-color: #B22222;
	top: 0;
	right: 0;
}

.box-3 {
	background-color: #0000CD;
	bottom: 0;
	left: 0;
}

.box-4 {
	background-color: #FFFF00;
	bottom: 0;
	right: 0;
}

.box-5 {
	background-color: #FF4500;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.box-6 {
	background-color: #EE82EE;
	top: 0;
	left: 150px;
}

.box-7 {
	background-color: #FF0000;
	top: 150px;
	left: 0;
}

.box-8 {
	background-color: #87CEEB;
	top: 150px;
	right: 0;
}

.box-9 {
	background-color: #00FF00;
	bottom: 0;
	left: 150px;
}

/* Задание 3 */
.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 900px;
	max-height: 200px;
	margin: 540px auto;
	background: radial-gradient(circle,rgba(238, 174, 202, 1) 0%,	rgba(12, 240, 209, 0.3) 100%);
	box-shadow: 0 0 70px rgba(238, 174, 202, 0.85);
	border-radius: 5%;
}

.menu {
	list-style: none;
	padding: 10px;
	font-style: 16px;
	text-transform: uppercase;
	text-align: center;
}

.menu-item {
	position: relative;
	display: inline-block;
}

.menu-item > a,
.submenu-item > a {
	display: inline-block;
	padding: 15px 15px;
	color: #0000CD;
	background: radial-gradient(circle, rgba(174,238,197,1) 0%, rgba(205,191,203,1) 34%, rgba(233,148,208,1) 100%);
	text-decoration: none;
}

.menu-item > a:hover,
.submenu-item > a:hover {
	background: #0cf0d1;
	color: aliceblue;
}

.submenu {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	list-style: none;
	padding: 0;
	/* background-color: blue; */
	box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.menu-item:hover > .submenu {
	display: block;
}

.submenu-item {
	white-space: nowrap;
}
































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































